.header {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid #000;
}

.btn {
    padding: 14px 112px;
    border: 1px solid #C4C4C4;
    background-color: #fff;
    color: #000000;
    text-decoration: none;
}

.btn.active {
  background: #C4C4C4;
  color: #000000;
}

.btn:hover {
    background-color: #C4C4C4;
    cursor: pointer;
}