@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 80px 100px;
}